@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    align-items: center;
    width: 50%;
    margin-left: 20px;
    /* background-image: url(Picture2.png);
    background-size: cover; */
}

.header {
    margin-left: 450px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    display: inline-block;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: rgb(0, 0, 0);
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}


.btn {
    margin-top: 15px;
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    box-shadow:0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}



/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    display: inline-block;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 230, 247);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



/* about */

.about-content h2 {
  color: rgb(0, 225, 255);
  font-size: 60px;
  font-weight: 600;
  margin-top: 200px;
  margin-left: 100px;
  margin-bottom: 30px;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}


.about-content h3{
  color: #0ef;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
}

.about-content h4 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 150px;
  margin-left: 100px;
}

.about-content h5 {
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 20px;
}

p {
  margin-left: 100px;
  font-size: 14px;
  padding-bottom: 15px;
}


li {
  font-weight: 100;
  padding-left: 1.8em;
  text-indent: -1.5em;
  margin-left: 100px;
}


.about-img img{
  float: right;
  margin-right: -800px;
  margin-top: -720px;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}


/* KEYFRAMES ANIMATION */
@keyframes slideRight {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideTop {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes floatImage {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-24px);
  }

  100% {
      transform: translateY(0);
  }
}
