@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
  color: #fff;
}


/* navigation bar */


.header {
    margin-left: 450px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  
  .navbar a {
    display: inline-block;
    font-size: 18px;
    color:#000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: rgb(255, 255, 255);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      display: inline-block;
      color:#000000;
      text-decoration: none;
      font-weight: 500;
      margin-left: 35px;
      transition: .3s;
      opacity: 0;
      animation: slideTop .5s ease forwards;
      animation-delay: calc(.2s * var(--i));
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(189, 0, 247);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(0, 225, 255);
    color: rgb(0, 0, 0);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  
  /* KEYFRAMES ANIMATION */
  @keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
  
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
  
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
  
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  @keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
  
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
  
    100% {
        transform: scale(1);
        opacity: 1;
    }
  }
  
  @keyframes floatImage {
    0% {
        transform: translateY(0);
    }
  
    50% {
        transform: translateY(-24px);
    }
  
    100% {
        transform: translateY(0);
    }
  }
  
  

  

  h1{
    color: #9900ff;
    margin-top: 250px;
    margin-bottom: 150px;
    margin-left: 800px;
    font-size: 55px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }
  
  
  h3 {
    color: #1f242d;
    margin-top: -120px;
    margin-left: 850px;
    margin-bottom: -120px;
    font-size: 25px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }
  
  
  
  /* image gallery */
  
  
  div.gallery {
    margin-left: 430px;
    margin-top: 220px;
    margin-bottom: -150px;
  }
 
  div.gallery img {
    width: 1050px;
    height: auto;
    margin-top: 30px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  .clearfix:after {
    content: "";
    display: list-item;
    clear: both;
  }
